@charset "utf-8";
html {
	color: #000;
	background: #FFF;
}

body,table,input,textarea,select {
	font-family: 'Consolas', 'Verdana', 'sans-serif', '微软雅黑';
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

a {
	color : #46B;
	outline : 0;
	text-decoration: none;
}

a:hover {
	color : #000;
}

strong {
	display: block;
	font-size: 12pt;
	border-bottom: 2px solid #7798CB;
	padding: 0 10px 5px 10px;
	color: #666;
}

.clear {
	clear : both;
	line-height : 0;
}

.main_box {
	width : 1002px;
	margin : 0 auto;
	text-align : left;
	margin-bottom : 50px;
}

.top_bottom_area_box {
	background : #CCC;
	height : 40px;
	padding : 2px 5px 0 5px;
	border-top : 0;
}

.top_area_goto_home {
	float : left;	
	margin : 10px 0 0 20px;
	font-size: 14px;
}

.top_area_title {
	font-size : 12px;
	float : left;
	margin : 10px 0 0 20px;
	color : #FFF;
}

.top_area_logout {
	float : right;
	font-size : 12px;
	color : #777;
	margin : 10px 10px 0 0;
}

.content_box {
	position : relative;
}

.content {
	margin: 0 0 0 200px;
	border: 1px solid #AAA;
	word-wrap: break-word;
	color: #333;
}

.content .profile {
	margin : 10px 10px;
	font-size : 14px;
}

.content .profile th {
	text-align: left;
	padding: 5px 10px;
	font-weight: bold;
}

.content .home_view {
	font-size : 16px;
}

.content .profile_view {
	margin : 10px 0 10px 10px;
}

.content .profile_view .location_view {
	margin : 10px 0 10px 0;	
}

.content .work_view {
	margin : 10px 0 10px 10px;
}

.content .work_view .company_view {
	margin : 10px 0 10px 0;
}

.content .current_info_box {
	margin : 10px 10px;
}

.content .history_info_box {
	margin: 100px 10px;
}

.content .table_info {
	border: 1px solid blue;
	border-collapse: collapse;
	text-align : center;
	width : 90%;
	margin-top : 10px;
	margin-left : 10px;
	font-size : 12px;
	line-height: 20px;
}

.content .history_table_info {
	border: 1px solid red;
	border-collapse: collapse;
	text-align : center;
	width : 90%;
	margin-top : 10px;
	margin-left : 10px;
	font-size : 12px;
	line-height: 20px;
}

.content .table_info  tr td {
	border: 1px solid blue;
}

.content .history_table_info  tr td {
	border: 1px solid red;
}

.content .table_tr {
	background-color : #0000FF;
}

.content_box .user_log {
	margin: 15px 0 0 15px;
}

.left_menu_box {
	float : left;
	width : 200px;
}

.left_menu {
	font-size : 13px;
	background : #EAEAEA;
	padding : 5px 0;
	color : #666;
	overflow : hidden;
}

.left_menu ul, .left_menu ol {
	margin : 10px;
	line-height : 20px;
}

.left_menu li.caption {
	margin-bottom : 20px;
}

.left_menu li.caption ol {
	margin: 5px 0 0 0;
	line-height: 22px;
}
.left_menu li.caption ol li {
	padding-left: 10px;
}

.left_menu li.caption ol li.active {
	background: #F6F6F6;
	font-weight: bold;
}

.copyright {
	font-size : 14px;
	color : #6F6F6F;
	margin : 0 auto;
	width : 500px;
	padding : 8px 0 0 0;
}

.message {
	margin : 0 10px;
	padding : 0 10px;
	color : BLUE;
	font : 13px 'Consolas';
	display: inline-block;
}

.error_message {
	margin : 0 10px;
	padding : 0 10px;
	color : RED;
	font : 13px 'Consolas';
	display: inline-block;
}

.tip {
	border: 1px solid;
	background-color : #EAEAEA;
	display: block;
	font-size: 10pt;
	font-weight : bold;
	padding: 10px 0px 10px 10px;
	margin : 10px 0 10px 0;
	color: #666;
}

.title {
	font-size : 14px;
	font-weight : bold;
	padding: 0 0 5px 10px;
	border-bottom: 1px solid #7798CB;
}

.required_remind {
	float : right;
	font-size : 13px;
	margin : 5px 0 0 0;
}

.required {
	color : RED;
	margin : 0 2px 0 0;
}

.show_more {
	float : right;
	font-size : 12px;
	margin : 10px 10px 0 0;
}

.split_line {
	border-bottom: 1px solid #7798CB;
}

.odd_even_table {
	width : 80%;
	text-align : center;
	font : bold 13px sans-serif;
}

/* home view */
.home {
	border : 1px solid #D9D9D9;
	margin : 0 auto;
	width : 800px;
}

.header {
	font-size : 18px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 5px;
	height: 40px;
	line-height: 40px;
}

.basics {
	font-size: 15px;
}

.basics_row {
	width : 85%;
	height: 30px;
	line-height: 30px;
}

.basics_title {
	display : inline-block;
	border-right : 1px solid #D9D9D9;
	border-bottom : 1px solid #D9D9D9;
	width : 150px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

.basics_content {
	display : inline-block;
	border-right : 1px solid #D9D9D9;
	border-bottom : 1px solid #D9D9D9;
	width : 480px;
	white-space: nowrap;
}

.details_title {
	text-align : center;
	font-weight : bold;
	letter-spacing : 2px;
}

.details_content {
	padding-left: 30px;
	font-size: 14px;
}

.td_width {
	width: 6%;
}

.skills {
	padding-top: 5px;
  	padding-bottom: 5px;
}

.thin_split_line {
	border-bottom : 1px solid #D9D9D9;
	font-size : 0px;
}

.thick_split_line {
	border-bottom : 5px solid #D9D9D9;
	font-size : 0px;
}